#profile-body {
    background-color: #262626;
}

#profile-container {
    margin-top: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262626;
    width: 80%;
    padding: 20px;
}

#profile-sidebar {
    width: 250px;
    min-height: 50vh;
    background-color: #060e31;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: 2px solid white;
    margin-right: 50px;
}

#details-tab,
#accounts-tab,
#password-tab {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.menu-item.active,
.menu-item:hover {
    background-color: #000000;
}

#profile-sidebar .menu-item {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 20%;
    background-color: #060e31;
}

#profile-sidebar .menu-item:hover {
    color: #fff;
    transform: scale(1.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#profile-content {
    flex-grow: 1;
    padding: 20px;
    background: white;
    border-radius: 8px;
}

#profile-sidebar .menu-item i {
    transition: transform 0.3s ease;
}

#profile-sidebar .menu-item:hover i {
    transform: scale(1.25);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    color: white;
    background-color: #060e31;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#accounts-table-container {
    width: 90%;
    margin: auto;
}

#accounts-table {
    width: 100%;
    border-collapse: collapse;
}

#accounts-table th, #accounts-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
