@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --radius: 20px;
    --radius2: 10px;
    --principale: #00296b;
    --secondaire: #003f88;
    --bouton: #fd9d1f;
    --boutonHover: #bd6e06;
    --white: #ffff;
    --black: #000000;
    --nav: #f2f2f2;
}

* {
    margin: 0; /* Réinitialisation des marges pour tous les éléments */
    padding: 0; /* Réinitialisation des paddings pour tous les éléments */
    box-sizing: border-box; /* Gère le padding et les bordures */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

#nav_bar {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #060e31;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    min-height: 60px;
    overflow: hidden;
    border-bottom: 2px solid white;
}

#nav_bar .bouton_nav {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 20%;
}

#nav_bar .bouton_nav:hover {
    background-color: #ddd;
    color: #060e31;
}

#nav_bar .bouton_nav i {
    transition: transform 0.3s ease; /* Transition fluide sur 0.3 secondes */
}

#nav_bar .bouton_nav:hover i {
    transform: translateY(-100px);
    opacity: 0; /* Déplace l'icône vers le haut de 5px */
}

.section {
    display: flex;
    height: 100vh;
}

/* Section 1 */
#section_1 {
    flex-wrap: wrap;
}

#bouton_nous_contacter {
    margin-top: 2vw;
}

#bouton_nous_contacter a {
    background-color: var(--bouton);
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: var(--white);
    font-size: 0.75em;
}

#bouton_nous_contacter a:hover {
    background-color: var(--boutonHover);
}

#section_1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
}

#section_1_infos,
#bouton_nous_contacter {
    position: absolute;
    color: var(--white);
    text-align: center;
    width: 100%;
}

#entête_1 {
    font-size: 3em;
}

#entête_2 {
    font-size: 1.5em;
}

#section_1_infos {
    padding-top: 200px;
}

#bouton_nous_contacter {
    padding-top: 100px;
}

#section_1 h1 {
    top: 20%;
}

#section_1 h2 {
    top: 30%;
}

#bouton_nous_contacter {
    top: 40%;
}

/* Section 2 */
#section_2 {
    background-color: var(--black);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: var(--white);
    border-bottom: 2px solid white;
}

#titre_section_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    padding-top: 30px;
}

.liste_coach {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}

.carte_coach {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 80%;
    background-color: #060e31;
    border: 1px solid rgb(255, 255, 255);
    color: black;
    margin: 20px 0 0 10px;
    color: white;
}

.image_coach {
    width: 14vw;
    height: 14vw;
}

.image_coach img {
    width: 14vw;
    height: 14vw;
}

.nom_coach {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.bouton_informations_coach a {
    background-color: orange;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

/* Section 3 */
#section_3 {
    background-color: #060e31;
    color: var(--footer-text);
    padding: 50px 20px;
    text-align: center;
    border-bottom: 2px solid white;
    margin-bottom: 0; /* Supprime l'espace entre section 3 et footer */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section_3 h2 {
    margin-bottom: 30px;
    font-size: 2em;
}

@media (max-width: 768px) { /* Responsive du contact */
    #contact_form {
        width: 100%;
        max-width: 90%;
        height: auto;
        padding: 15px;
    }
}


#contact_form {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: var(--white);
    padding: 30px;
    border-radius: var(--radius2);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#contact_form .form-group {
    margin-bottom: 20px;
}

#contact_form label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

#contact_form input,
#contact_form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: var(--radius2);
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
    color: #333;
    background-color: #fafafa;
    transition: border-color 0.3s ease;
}

#contact_form input:focus,
#contact_form textarea:focus {
    border-color: var(--principale);
    outline: none;
}

#contact_form button {
    width: 100%;
    padding: 12px;
    background-color: var(--bouton);
    color: white;
    border: none;
    border-radius: var(--radius2);
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact_form button:hover {
    background-color: var(--boutonHover);
}

footer {
    background-color: #000000;
    margin: 0; /* Supprime la marge pour le footer */
}

footer p {
    color: white;
    text-align: center;
    margin: 0; /* Supprime les marges pour le texte du footer */
}

#liste_coach_mobile {
    display: none;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  Videos */
.video-grid {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.video-container {
    padding: 4px;
    margin: 4px;
    background-color: red;
}

.video-thumbnail {
    width: 40%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.description-video {
    background-color: green;
}

.auteur-video {
    background-color: orange;
}

/*  Mobile */
@media (max-width: 768px) {
    .swiper {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    #swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #liste_coach_mobile {
        display: block;
    }

    #liste_coach_pc {
        display: none;
    }

    #nav_bar {
        align-items: center;
    }

    .section {
        flex-direction: column;
    }

    .carte_coach {
        width: 60%;
        padding: 30px;
        height: auto;
    }

    .image_coach {
        width: 150px;
        height: 150px;
    }

    .bouton_informations_coach a {
        width: 100%;
        text-align: center;
    }
}
